* {
    box-sizing: border-box;
}
body {
    font: 100 16px/1.4 'Roboto';
    max-width: 980px;
    margin: 1em auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 .5em;
}
.column {
    flex: 1;
}