* {
    box-sizing: border-box;
}
body {
    font: 100 16px/1.4 'Roboto';
    width: 100%;
    margin: 0;
}
.container {
    max-width: 980px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 .5em; */
}
.column {
    flex: 1;
}
nav li {
    display: inline-block;
    margin: 8px 16px;
}
nav .logo {
    margin: 24px 0;
}
.featured-content {
    width: 100%;
    color: #ffffff;
    background-image: linear-gradient(95.12deg, rgb(71, 71, 235) 0.48%, rgb(165, 51, 255) 99.68%)
}
.featured {
    padding: 3em 0;
}
.featured p {
    max-width: 424px;
}
.gallery {
    justify-content: center;
}